/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --title-color: #ffc2e6;
  --decor-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(53, 52, 48, 0.4);
  --link-shadow: #ff8dcb;
  --rec-color: #ff8dcb;
  --corner-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
  --rec-display: none;
  --gallery-title-color: #353430;
  --gallery-bg-color: #ff8dcb;
  --link-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark):not(.theme-light) {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --title-color: #ffc2e6;
    --decor-color: #ff8dcb;
    --button-color: #353430;
    --button-hover-color: rgba(53, 52, 48, 0.4);
    --link-shadow: #ff8dcb;
    --corner-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
    --rec-display: none;
    --gallery-title-color: #353430;
    --gallery-bg-color: #ff8dcb;
    --link-text-color: #353430;
  }
}

