/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex Mono', monospace;
  --main-font-size: 18px;
  --line-height: 1.3;
  --main-title-color: #db00ff;
  --padding-mobile: 10px;
  --padding-desktop: 20px;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --decor-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --link-shadow: #ff0070;
  --rec-color: #ff0070;
  --corner-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --link-text-color: #f1b2ce;
  --rec-display: flex;
  --gallery-title-color: #000028;
  --gallery-bg-color: #ff0070;
}

